:host { display: block; height: 100%; }

.mobile-overlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  z-index: 99;
  opacity: 0;
  transition: opacity 0.3s;

  @media (max-width: 768px) {
    display: block;
    pointer-events: none;

    &.visible {
      opacity: 1;
      pointer-events: all;
    }
  }
}